<!DOCTYPE html>
<html>
    <head>
        <title>Clinica - Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Condensed&display=swap" rel="stylesheet">

        <style>
            .container-fluid{
               
                font-family: 'Roboto Condensed', sans-serif;
            }
    
            .btn-primary{
                background-color:	#4177bd;
            }
            .mt-6 {
            margin-top: 6% !important;
          }
    
          body{
            background-color:	#4177bd;
            background-image: url("images/hospital.jpg");
            background-size: cover;
            background-position: center;
            
          }
    
          #white{
            background-color: white !important;
          }
    
          .mt-7{
            margin-top: 7% !important;
          }

 
          
    
    
        </style>
    </head>
    <body>

        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
              
              <div id="white" class="col-xl-4 shadow-lg col-md-7 col-sm-8 col-8 col-lg-4 mt-6 rounded border">
                <div class="row  mt-n5 d-flex justify-content-center">
                  <img class="mt-n4" src="images/med.png" width="400" height="400">
                </div>
                <div id="white" class="row mt-n5 d-flex justify-content-center">
                  <h3 class="mt-n5">¡Bienvenido!</h3>
                </div>
                <div id="white" class="row mt-3 d-flex justify-content-center">
                  <div id="white" class="col-xl-7">
                    <form  action="/loginMed" method="POST" id="white" autocomplete="off">
                      <div  class="form-group mt-4">
                        <input type="email" required class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Correo">
                      </div>
                      <div class="form-group mt-4">
                        <input type="password" required class="form-control" id="password" name="password" placeholder="Password">
                      </div>
                      <button type="submit" class="btn mt-4 rounded-pill btn-block d-block btn-primary" style=" color: white;">Log In</button>
                      <div class="form-gorup text-center mt-5 mb-5">
                        <small id="emailHelp" class="form-text text-muted">¿No tienes una cuenta? <a href="/registro">Registrarse</a></small>
                      </div>
                    </form>
                  </div>
                  
                </div>
              </div>
              
            </div>
      
          </div>
    </body>

</html>