<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Clínica - Registro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Condensed&display=swap" rel="stylesheet">

    <style>

        .btn-primary{
                background-color:#4177bd;
            }

        .mt-6 {
        margin-top: 6% !important;
      }

      body{
        background-color:#4177bd;
        font-family: 'Roboto Condensed', sans-serif;
        background-image: url("images/hospital.jpg");
            background-size: cover;
            background-position: center;
      }

      #white{
        background-color: white !important;
      }

      .mt-7{
        margin-top: 7% !important;
      }

      


    </style>

</head>

<body>

    <div class="container-fluid">
      <div class="row d-flex justify-content-center">
        
        <div id="white" class="col-xl-4 shadow-lg col-lg-8 col-md-7 col-8 col-sm-8 mt-4 rounded border">
          <div class="row mt-n5 d-flex justify-content-center">
            <img class="mt-n5" src="images/med.png" width="300" height="300">
          </div>

          <div id="white" class="row mt-n5 d-flex justify-content-center">
            <div id="white" class="mt-n4 col-xl-7">
              <form action="/newUser" id="white" method="POST" autocomplete="off" >
                <div  class="form-group mt-4">
                  <input type="text" required class="form-control" id="nombre" name="nombre" aria-describedby="emailHelp" placeholder="Nombre">
                </div>
                <div  class="form-group mt-4">
                  <input type="text" required class="form-control" id="aPaterno" name="aPaterno" aria-describedby="emailHelp" placeholder="Apellido Paterno">
                </div>
                <div  class="form-group mt-4">
                  <input type="text" required class="form-control" id="aMaterno" name="aMaterno" aria-describedby="emailHelp" placeholder="Apellido Materno">
                </div>
                <div  class="form-group mt-4">
                  <input type="email" required class="form-control" id="correo" name="correo" aria-describedby="emailHelp" placeholder="Correo">
                </div>
                <!--<div  class="form-group mt-4">
                  <input type="text" required class="form-control" id="usuario" name="usuario" aria-describedby="emailHelp" placeholder="Usuario">
                </div>-->
                <div  class="form-group mt-4">
                    <input required class="form-control" id="cedula" name="cedula" aria-describedby="emailHelp" placeholder="Cedula Profesional">
                  </div>
                <div class="form-group mt-4">
                  <input type="password" required class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn mt-4 rounded-pill btn-block d-block btn-primary">Registrarse</button>
                <div class="form-gorup text-center mt-5 mb-5">
                  <small id="emailHelp" class="form-text text-muted">¿Ya tiene una cuenta? <a href="/login">Log In</a></small>
                </div>
              </form>
            </div>
            
          </div>
        </div>
        
      </div>

    </div>
    
</body>
</html>